:root {
    --sliderwidth: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #f5f5dc; /* Beige background */
}

#one {
    width: 100vw;
    overflow: hidden;
}

.slider {
    display: flex;
    position: relative;
    height: 200px;
    white-space: nowrap;
}

.slider div img {
    height: 100%;
    display: inline-block;
    margin-right: 20px;
}

.a, .b {
    display: flex;
}

@keyframes moveSlider {
    from { transform: translateX(0); }
    to { transform: translateX(var(--sliderwidth)); }
}

.animate {
    animation: moveSlider 30s linear infinite;
}

