
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background-container {
    width: 1200px;
    height: 750px;
    background-image: url('image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header, main, footer {
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 2em;
}

footer p {
    font-size: 0.9em;
}
